extends layout

block content
  .container
    h1 About Us
    p Duis elementum accumsan nunc eget finibus. Phasellus id lorem tincidunt, euismod tortor quis, eleifend mi. Phasellus nisl lectus, commodo ac convallis in, vulputate sed dui. Donec eleifend volutpat risus, eu sodales nulla. Ut placerat erat vitae nunc vulputate mattis. Cras ac sollicitudin quam. Donec a viverra tellus. Cras id cursus augue. Nam malesuada magna porta mollis pharetra. Nulla tincidunt auctor odio eget faucibus. Vestibulum lorem leo, commodo vel auctor eu, aliquam nec orci. Duis tempus odio eget iaculis viverra.

