extends layout

block content
  .jumbotron
    .container
      h1 How May I help You
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at libero id erat hendrerit molestie. Fusce nibh diam, finibus quis leo ac, pharetra molestie nibh. Sed sapien justo, sodales at mauris ut, molestie tempor orci. Nullam euismod porta nisi, dapibus sollicitudin orci tincidunt a. Sed in leo commodo, dignissim erat ac, rhoncus erat. Fusce id mauris nunc. In lacus nunc, accumsan nec mollis sed, bibendum nec massa.
      a.btn.btn-primary.btn-lg(href='#') Learn more
  .container
    .row
      .col-md-4
        h2 About Us
        p In eget enim dapibus, ultrices augue sit amet, suscipit risus. Ut ac massa magna. Integer eget diam nec odio faucibus tempus ac sit amet mi.
        a.btn.btn-default(href='#') View Details

      .col-md-4
        h2 Services
        p In eget enim dapibus, ultrices augue sit amet, suscipit risus. Ut ac massa magna. Integer eget diam nec odio faucibus tempus ac sit amet mi.
        a.btn.btn-default(href='#') View Details

      .col-md-4
        h2 Get In Touch
        p In eget enim dapibus, ultrices augue sit amet, suscipit risus. Ut ac massa magna. Integer eget diam nec odio faucibus tempus ac sit amet mi.
        a.btn.btn-default(href='#') View Details

